<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>this is the <strong>index</strong> page</p>
    <div id="app"></div>
    <script src="http://localhost:4000/app.js"></script>
  </body>
</html>
